<p id="notice"><%= notice %></p>

<h1><%= t '.title' %></h1>
<!--
  Poderia ser de forma explicita da seguinte forma.
  <%= render partial: 'room', object: current_user.rooms.first %>

 -->
<%= render @rooms %>
